<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIQL</title>
    <link rel="stylesheet" href="http://localhost:3000/user_home/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="http://localhost:3000/user_home/assets/fonts/simple-line-icons.min.css">
    <style>
        .css-serial {
            counter-reset: serial-number;  /* Set the serial number counter to 0 */
        }
        .css-serial td:first-child:before {
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
        .tool-tip {
        display: inline-block;
        }
        .tool-tip [disabled] {
        pointer-events: none;
        }
    </style>
</head>

<body><nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a href="#" class="navbar-brand logo">MUSIQL</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#competitions">Competitions</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#about_us">About Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/judge_logout">Logout</a></li>
                <li role="presentation"><a class="nav-link">Welcome</a></li>
                <li role="presentation"><a class="nav-link">
                    <%= judge_fullname %></a></li>
            </ul>
        </div>
    </div>
</nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;http://localhost:3000/user_home/assets/img/tech/image5.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Judges decide the future ..</h2>
                </div>
        </section>
        
        <br><br>
        <div class="block-heading" id="competitions">
            <center><h2 class="text-info">Competitions</h2><br></center>
        </div>
        <div class="container">
        <% if(boo1.length>0){ %>
            <div class="row">  
                <% for(var i=0;i < comp_jud.length;i++){ %>
                    <div class="col-md-3">
                    <div class="card mb-3">
                    <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title"><%= comp_jud[i].com_title %></h5>
                        <% if(comp_jud[i].winner){ %>
                            <p class="card-text"><%= comp_jud[i].com_details %><br><br><I>Winner: <%=comp_jud[i].winner %></I></p>
                        <% }else{ %>
                            <p class="card-text"><%= comp_jud[i].com_details %><br><br><br></p>
                        <% } %>
                        <% if(!boo1[i]){ %>
                            <form action='/judge_comp' method="POST">
                                <input type="hidden" name="jud_com_id" value="<%= comp_jud[i].com_id %>">
                                <button type="submit" class="btn btn-outline-dark btn-sm" disabled>No contestants yet</button></span>
                            </form>
                        <% }else if(!comp_jud[i].winner){ %>
                            <form action='/judge_comp' method="POST">
                                <input type="hidden" name="jud_com_id" value="<%= comp_jud[i].com_id %>">
                                <button type="submit" class="btn btn-outline-dark btn-sm">Judge the competition</button></span>
                            </form>
                        <% }else{ %>
                        <form action='/judge_comp' method="POST">
                            <input type="hidden" name="jud_com_id" value="<%= comp_jud[i].com_id %>">
                            <button type="submit" class="btn btn-outline-dark btn-sm" disabled>Competition finished</button></span>
                        </form>
                        <% } %>
                    </div>
                    </div>
                    </div>
                <% } %>
            </div>
            <% }else{ %>
            <center><br><h3>No competitions</h3></center>
            <% } %>
        </div>  
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
            });
        </script>
    <section class="clean-block about-us">
            <div class="container" id="about_us">
                <br>
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>Undergraduates of RV College of Engineering, CSE Department.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img src="http://localhost:3000/main/assets/img/avatars/avatar1.jpg" class="card-img-top w-100 d-block" />
                            <div class="card-body info">
                                <h4 class="card-title">Karthikeya H S</h4>
                                <p class="card-text">MEAN Stack developer, Database designer, Karnatik musician</p>
                                <div class="icons"><a href="https://www.facebook.com/karthikeya.hs" target="_newtab"><i class="icon-social-facebook"></i></a><a href="#" trrget="_newtab"><i class="icon-social-google"></i></a><a href="https://github.com/karthikeyahs" target="_newtab"><i class="icon-social-github"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img src="http://localhost:3000/main/assets/img/avatars/avatar2.jpeg" class="card-img-top w-100 d-block" />
                            <div class="card-body info">
                                <h4 class="card-title">Keshav Bhattad</h4>
                                <p class="card-text">Software Engineer, Database expert, Web developer</p>
                                <div class="icons"><a href="https://www.facebook.com/karthikeya.hs" target="_newtab"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-google" target="_newtab"></i></a><a href="https://github.com/karthikeyahs" target="_newtab"><i class="icon-social-github" target="_newtab"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>></main>
        <footer class="page-footer dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#user_login">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h5>About us</h5>
                        <ul>
                            <li><a href="#info">Company Information</a></li>
                            <li><a href="#about_us">Contact us</a></li>
                            <li><a href="#home">Back to top</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2019 Copyright Text</p>
            </div>
        </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>