<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIQL</title>
    <link rel="stylesheet" href="http://localhost:3000/user_home/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="http://localhost:3000/user_home/assets/fonts/simple-line-icons.min.css">
    
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <style>
        .css-serial {
            counter-reset: serial-number;  /* Set the serial number counter to 0 */
        }
        .css-serial td:first-child:before {
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
        .tool-tip {
        display: inline-block;
        }
        .tool-tip [disabled] {
        pointer-events: none;
        }
    </style>
</head>

<body><nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a href="#" class="navbar-brand logo">MUSIQL</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#competitions">Competitions</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#about_us">About Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#listen">Listen</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/user_logout">Logout</a></li>
                <li role="presentation"><a class="nav-link">Welcome</a></li>
                <li role="presentation"><a class="nav-link">
                    <%= username %></a></li>
            </ul>
        </div>
    </div>
</nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;http://localhost:3000/user_home/assets/img/tech/image5.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Young minds build the future ..</h2>
                <p>The road to success is always under construction.<I>-LILY TOMLIN</I></p></div>
        </section>
        
    <br><br><br>
    <div class="table-responsive" id="listen">
        <br><br><br><br><br>
        <div class="block-heading">
            <center><h2 class="text-info">Listen to your songs</h2>
            <p>You can listen to non-premium audios uploaded by your institution.</p></center>
        </div>
        <% if(rows.length>0){ %>
        <table class="table css-serial">
            <thead>
                <th scope="col">Sl.no</th>
                <th scope="col">Song name</th>
                <th scope="col">Song raga</th>
                <th scope="col">Song tala</th>
                <th scope="col">Song Composer</th>
                <th scope="col">Premium or not</th>
            </thead>
            <tbody>
                <% for(var i=0,j=0;i < rows.length;i++){ %>
                    <tr>
                    <td></td>
                    <td>
                        <form action="/play_song" method="POST">
                            <input type="hidden" name="song_no" value="<%= rows[i].audio_id %>">
                            <% if(rows[i].premium==1){ if(boo[j]==0){ %>
                                <span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Premium audios are currently not accessible. Request for premium">
                                <button type="submit" class="btn btn-link" name="song_name" value="<%= rows[i].song_name %>" disabled="disabled"><%=rows[i].song_name %></button></span>
                            <% }else if(boo[j]==1){ %>
                                <button type="submit" class="btn btn-link" name="song_name" value="<%= rows[i].song_name %>"><%=rows[i].song_name %></button>
                            <% }else{ %>
                                <span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Request is currently pending. Wait till the institution grants premium.">
                                <button type="submit" class="btn btn-link" name="song_name" value="<%= rows[i].song_name %>" disabled><%=rows[i].song_name %></button></span>
                            <% }}else{ %>
                                <button type="submit" class="btn btn-link" name="song_name" value="<%= rows[i].song_name %>"><%=rows[i].song_name %></button>                           
                            <% } %>
                        </form>
                    </td>
                    <td><%= rows[i].song_raga %></td>
                    <td><%= rows[i].song_tala %></td>
                    <td><%= rows[i].song_composer %></td>
                    <td>
                        <form action="/premium_request" method="POST" onsubmit="request_prem.disabled = true; return true;">
                            <input type="hidden" name="song_no1" value="<%= rows[i].audio_id %>">
                            <% if(rows[i].premium==1){ %>
                                <span style='font-size:30px;'>&#11088;</span>
                                <% if(boo[j]==0){ %>
                                <button type="submit" class="btn btn-primary" name="song_name" value="<%= rows[i].song_name %>" onclick="myFunction1()">Request</button></span>
                                <% }else if(boo[j]==1){ %>
                                    <button type="submit" class="btn btn-primary" name="song_name" value="<%= rows[i].song_name %>" disabled="disabled">Granted</button>
                                <% }else{ %>
                                <span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Request is currently pending. Wait till the institution grants premium.">
                                <button type="submit" class="btn btn-primary" name="song_name" value="<%= rows[i].song_name %>" disabled="disabled">Request pending</button></span>
                            <% }j++;} %>
                        </form>
                    </td>
                </tr>
                <% } %>
    
            </tbody>
        </table>
        <% }else{ %>
        <center><br><h3>No songs uploaded by your institution</h3></center>
        <% } %>
    </div>
    <br><hr><br>
    <div class="block-heading" id="competitions">
        <center><h2 class="text-info">Competitions</h2>
        <p>Participate in competitions to win exiting prizes.</p></center>
    </div>
    <div class="container">
        <% if(compe.length>0) { %>
        <div class="row">  
            <% for(var i=0;i < compe.length;i++){ %>
                <div class="col-md-3">
                <div class="card mb-3">
                <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap"></img>
                <div class="card-body">
                    <h5 class="card-title"><%= compe[i].com_title %></h5>
                    <p class="card-text"><%= compe[i].com_details %></p>
                    <% if(!compe[i].winner){ %>
                    <form action="/participate" method="POST">
                        <input type="hidden" name="com_id" value="<%= compe[i].com_id %>">
                        <% if(part[i]==1){ %> 
                            <button type="submit" class="btn btn-outline-dark btn-sm" onclick="myFunction()">Participate</button>
                        <% }else{ %>
                            <span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="You are already a participant.">
                            <button type="submit" class="btn btn-outline-dark btn-sm" disabled>Participate</button></span>
                        <% } %>
                    </form>
                    <form action="/com_portal" method="POST">
                        <input type="hidden" name="com_id" value="<%= compe[i].com_id %>">
                        <button type="submit" class="btn btn-outline-dark btn-sm">Portal</button></span>
                    </form>
                    <% }else{ %>
                        <form action="/com_portal" method="POST">
                            <input type="hidden" name="com_id" value="<%= compe[i].com_id %>">
                            <button type="submit" class="btn btn-outline-dark btn-sm" disabled>Finished</button></span>
                        </form><br>
                        <I>Winner: <%= compe[i].winner %></I>
                    <% } %>
                </div>
                </div>
                </div>
            <% } %>
            
        </div>
        <% } else{ %>
        <center><p><h3>No active competitions</h3></p></center>
        <% } %>
    </div>  
    <script>
    function myFunction() {
        alert("You are now a participant!!");
    }
    </script>
    <script>
    function myFunction1() {
        alert("Premium has been requested!!");
    }
    </script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
    <section class="clean-block about-us">
        <div class="container" id="about_us">
            <br>
            <div class="block-heading">
                <h2 class="text-info">About Us</h2>
                <p>Undergraduates of RV College of Engineering, CSE Department.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center"><img src="http://localhost:3000/main/assets/img/avatars/avatar1.jpg" class="card-img-top w-100 d-block" />
                        <div class="card-body info">
                            <h4 class="card-title">Karthikeya H S</h4>
                            <p class="card-text">MEAN Stack developer, Database designer, Karnatik musician</p>
                            <div class="icons"><a href="https://www.facebook.com/karthikeya.hs" target="_newtab"><i class="icon-social-facebook"></i></a><a href="#" trrget="_newtab"><i class="icon-social-google"></i></a><a href="https://github.com/karthikeyahs" target="_newtab"><i class="icon-social-github"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center"><img src="http://localhost:3000/main/assets/img/avatars/avatar2.jpeg" class="card-img-top w-100 d-block" />
                        <div class="card-body info">
                            <h4 class="card-title">Keshav Bhattad</h4>
                            <p class="card-text">Software Engineer, Database expert, Web developer</p>
                            <div class="icons"><a href="https://www.facebook.com/karthikeya.hs" target="_newtab"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-google" target="_newtab"></i></a><a href="https://github.com/karthikeyahs" target="_newtab"><i class="icon-social-github" target="_newtab"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>></main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
